*{
  box-sizing: border-box;
  margin: 0;
}


.row{
    height: 100vh;
    align-items: center;
    width: 35%;
}

@media(max-width: 992px){
  .row{
    width: 50%;
  }
}
@media(max-width: 768px){
    .row{
        width: 100%;
    }
}

.error{
  display: block;
  padding: 10px;
  background: #f8d7da;
  color: #842029;
  border-radius: 12px;
  margin-top: 10px;
  border-radius: 12px;
}
.loading{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin: auto;
}

@keyframes load {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.butt-item{
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 20px;
}


.tork{
  color: #FA5A1D;
}

.notexist{
  color: #FA5A1D;
  width: 500px;
  margin: 20px;
}
@media (max-width:768px) {
  .notexist{
    display: none;
  }
}



.pagination .page-item.active .page-link {
  background-color:#FA5A1D;
  border-color: #FA5A1D;
  color: white;
  border-radius: 6px;
}
.pagination .page-item .page-link {
  color: white;
  background-color: #2C2629;
  border: none;
}

.sure{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    z-index: 3;
}
.card-table{
  margin:75px 20px 10px 0 ;
  background:#2C2629;
  padding:20px;
  border-radius:12px;
}
.card-table > p{
  color: #FA5A1D;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}
@media (max-width:768px) {
  .card-table{
    width: fit-content;
  }
}
.status{
  display: block;
  padding: 2px 14px;
  border-radius: 6px;
  width: fit-content;
}